.footer {
  display: flex;
  flex-direction: row;
  height: 50px;
  margin: auto;
  width: 95vw;
  margin-bottom: 7vmin;
}

.footer-element {
  margin: auto;
  text-align: center;
  font-family: 'Tajawal', sans-serif;
  font-size: 18px;
  font-weight: 900;
  height: 100%;
}

.footer-element a {
  text-decoration: none;
}

#footer1, #footer3 {
  border: 1px solid #696969;
  background: #fff;
  width: 20vw;
  cursor: pointer;
}

#footer2 {
  width: 55vw;
}

.social-logos {
  height: 100%;
  padding: 2px;
}


@media screen and (max-width: 700px) {
  #footer1, #footer3 {
    width: 25vw;
  }
  #footer2 {
    width: 45vw;
  }
  .footer-element {
    font-size: 16px;
  }
}
