.header h1 {
  font-family: 'Rakkas',serif;
  font-size: 2vh;
}

.header {
  height: 13vh;
  width: 100%;
  vertical-align: middle;
  padding: 1%;
  display: flex;
}

.header-filters {
  display: flex;
  width: 40%;
  margin: auto;
  justify-content: space-between;
  cursor: pointer;
}

.filter:before {
  margin: 0 5px 0 0;
  display: inline-block;
  content: "";
  width:  2vh;
  height: 2vh;
  background: url('../assets/img/checkbox-blank.svg');
}

.filter.checked:before {
  background: url('../assets/img/checkbox-checked.svg');
}

.header-logo {
  width:20%;
  display: inline-block;
}

.header-logo:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

.header img{
  display: block;
  margin: auto;
  height: 100%;
  width: 100%;
  min-width: 10vw;
  min-height: 10vh;
}

.header-title {
  width: 40%;
  margin: auto;
  padding-left: 5%;
}

.header-title h1 {
  height: 100%;
}

@media only screen and (max-width: 708px) {
  /* .header {
    height: 100px;
    padding: 5px;
    align-items: left;
  }

  .header-filters {
    position: fixed;
    bottom: 0;
    width: 100%;
    align-items: center;
  }

  .header-filters .filter {
    width: calc(100%/3);
    display: inline-block;
}
  .header-logo {
    width:100%;}

  .header-logo img {
    align-items: center;
    height: 60px;
  }

  .header-title {
    width: 100%;
    display: inline-block;
    text-align: center;
  } */
}
