.header h1 {
  font-family: 'Rakkas',serif;
  font-size: 2vh;
  cursor: pointer;
}

.header a {
  text-decoration: none;
  color: #000;
}

.header {
  flex-direction: row;
  height: 13vh;
  /* width: 100%; */
  vertical-align: middle;
  margin: 5vh;
  display: flex;
}

.header-filters {
  order: 1;
  display: flex;
  width: 40%;
  margin: auto;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding-right: 5vw;
}

.filter:before {
  margin: 0 5px 0 0;
  display: inline-block;
  content: "";
  width:  2vh;
  height: 2vh;
  background: url('../assets/img/checkbox-blank.svg');
}

.filter.checked:before {
  background: url('../assets/img/checkbox-checked.svg');
}

.header-logo {
  order: 2;
  width:20%;
  /* display: inline-block; */
}

.header-logo:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

.header img{
  display: block;
  margin: auto;
  max-width:100%;
  max-height:100%;
  min-width: 10vw;
  min-height: 10vh;
}

.header-title {
  order: 3;
  width: 40%;
  margin: auto;
  padding-left: 5%;
}

@media only screen and (max-width: 708px) {
  .header {
    flex-direction: column;
    height: auto;
    margin: 15px auto;
  }

  .header h1 {
    margin: auto;
  }

  .header-logo, .header-filters, .header-title {
    width: 100%;
    height: auto;
  }

  .header-logo {
    order: 1;
  }

  .header-title {
    display: inline-block;
    order: 2;
    padding: 0;
    text-align: center;
  }

  .header-filters {
    order: 3;
    padding: 0;
    text-align: center;
    justify-content: center;
  }

  .filter {
    width: 33%;
  }
}
