* {box-sizing: border-box;}

body {
  margin: 0px;
  padding: 0px;
}

/* h1 {font: 20px 'Rakkas';} */

/* h2 {font: bolder 20px "Roboto-Thin";} */

/* p {font-family: 'Roboto',sans-serif;} */

.row {
  width: 95vw;
  max-width: 1500px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 7vmin;
}

.column {
  flex:      33%;
  max-width: 33%;
}

.cleft {
  margin-right: 67%;
  text-align: left;
}

.cright {
  margin-left: 67%;
  text-align: left;
}

.c1 {
  margin-right: 17%;
  text-align: left;
}

.c2 {
  margin-left: 17%;
  text-align: right;
}

.row img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}

.text {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  border: 2px solid #000000;
  background-color: #fff;
  width: 500px;
  padding: 2vmin;
  cursor: move;
  z-index: 2;
}

.text h2 {
  font-weight: 700;
  font-size: 18pt;
  margin-bottom: 0px;
}

.text p {
  font-weight: 400;
  font-size: 10pt;
  line-height: 1.5em;
}

.text-row {
  margin-bottom: 0px;
}

#app video {
  vertical-align: top;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto%;
  padding-bottom: 5vh;

}

#app video, #website video {
  width: 100%;
  height:100%;
}

#gif {
  height: 100%;
}

@media screen and (max-width: 700px) {
  .row {
    display: block;
  }

  .column {
    flex:      100%;
    max-width: 100%;
  }

  .text {
    position: static;
    width: 95vw;
    max-width: 1500px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .text-row {
    margin-bottom: 7vmin;
  }

  .c1, .c2, .cleft, .cright {
    margin: auto;
  }

  .c1, .c2, .cleft, .cright img {
    text-align: center;
  }

  .c1, .c2, .cleft, .cright p {
    text-align: left;
  }

  .c1 {
    margin-bottom: 7vmin;
  }

  .column h2 {
    font-size: 4vw;
  }

  .column p {
    font-size: 3.5vw;
  }

}
