* {box-sizing: border-box;}

body {
  margin: 0px;
  padding: 0px;
}

/* h1 {font: 20px 'Rakkas';} */

/* h2 {font: bolder 20px "Roboto-Thin";} */

/* p {font-family: 'Roboto',sans-serif;} */

.row {
  width: 95vw;
  max-width: 1500px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 7vmin;
}

.column {
  flex:      45%;
  max-width: 45%;
}

.c1 {
  margin-right: 5%;
  text-align: left;
}

.c2 {
  margin-left: 5%;
  text-align: right;
}

.row img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}

.column h2, .column p, .footer {
  font-family: 'Open Sans', sans-serif;
}

.column h2 {
  font-weight: 700;
  font-size: 2.5vmin;
  margin-top: 0px;
  margin-bottom: 5vmin;
}

.column p {
  font-weight: 400;
  font-size: 2vh;
  line-height: 1.5em;
  margin: 2vmin 0px;
}

/* #letters-img {
  background-color: #fff;
  margin-right: 5%;
  width: 80%;
  height: auto;
} */

#app video, #app img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}

#website video {
  width: 100%;
}

.footer p {
  width: 100%;
}

.footer {
  text-align: center;
}

.footer a {
  margin: auto;
}

.preview {
  left: 50%;
  margin-bottom: 7vmin;
}

@media screen and (max-width: 700px) {
  .column {
    flex:      100%;
    max-width: 100%;
  }

  .c1, .c2 {
    margin: auto;
  }

  .c1, .c2 img {
    text-align: center;
  }

  .c1, .c2 p {
    text-align: left;
  }

  .c1 {
    margin-bottom: 7vmin;
  }

  .column h2 {
    font-size: 4vw;
  }

  .column p {
    font-size: 3.5vw;
  }

}
